<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!-- <xacro:arg name="use_ros2_control" default="true"/> -->

    <xacro:include filename="robot_core.urdf.xacro" />

    <xacro:include filename="gazebo_control.xacro" />
    <xacro:include filename="camera.urdf.xacro" />
 

    
</robot>